/* Outer most container/body */
.outerContainer {
    height:100vh;
    width:100vw;
    background-color:rgb(136, 66, 0);
}


/*----------------- Container for side A --------------------- */
.containerA {
 position:relative;
 background-color:rgb(177, 121, 19);
 height:49.9vh;
 width:96vw;
 margin:auto;
 border-bottom:solid 1px black;
}

.rowA {
position:relative;
background-color:rgb(194, 162, 103);
border-bottom-left-radius: 30%;
border-bottom-right-radius: 30%;
height:22.5vh;
width:90vw;
margin:auto;
}

.playerManaA {
position:absolute;
background-color:rgb(8, 143, 221);
height:5.5vh;
width:8vw;
right:25vw;
top:8vh;
text-align:center;
border-radius:40%;
line-height:5.5vh;
border: .3em solid rgb(158, 148, 129);
}

.endTurnA {
position:absolute;
background-color:rgba(0, 150, 37, 0.651);
height:5.5vh;
width:10vw;
right:8vw;
top:8vh;
text-align:center;
border-radius:15%;
line-height:5.5vh;
border: .3em solid rgb(158, 148, 129);
}

.championA {
background-color:rgb(83, 54, 0);
border-bottom-left-radius: 20%;
border-bottom-right-radius: 20%;
height:22.5vh;
width:12vw;
display:inline-flex;
position:absolute;
left:43.5%;
}

.playerHandA {
background-color:rgb(124, 124, 123);
border-bottom-left-radius: 30%;
border-top-right-radius: 10%;
border-bottom-right-radius: 10%;
height:22.5vh;
width:35vw;
display:flex;
position:absolute;
left:0;
top:0;
}

/* Card Field for side A */
.fieldA {
position:absolute;
background-color:rgb(219, 210, 192);
border-top-left-radius: 30%;
border-top-right-radius: 30%;
border-top: .3em solid rgb(153, 152, 137);
border-style: outset;
border-bottom:none;
height:26vh;
width:80vw;
left:0;
right:0;
bottom:0;
margin:auto;
display: flex
}





/*----------------- Container for side B --------------------- */
.containerB {
background-color:rgb(177, 121, 19);
height:49.5vh;
width:96vw;
margin:auto;
border-top:solid 1px black;
}

.rowB {
position:absolute;
background-color:rgb(194, 162, 103);
border-top-left-radius: 30%;
border-top-right-radius: 30%;
height:22.5vh;
width:90vw;
left:0;
right:0;
bottom:0;
margin:auto;
display:flex;

}

.playerManaB {
position:absolute;
background-color:rgb(8, 143, 221);
height:5.5vh;
width:8vw;
left:25vw;
top:8vh;
text-align:center;
border-radius:40%;
line-height:5.5vh;
border: .3em solid rgb(158, 148, 129);
}

.endTurnB {
position:absolute;
background-color:rgba(0, 150, 37, 0.651);
height:5.5vh;
width:10vw;
left:8vw;
top:8vh;
text-align:center;
border-radius:15%;
line-height:5.5vh;
border: .3em solid rgb(158, 148, 129);
}

.championB {
background-color:rgb(83, 54, 0);
border-top-left-radius: 20%;
border-top-right-radius: 20%;
height:22.5vh;
width:12vw;
display:inline-flex;
position:absolute;
left:43.5%;
bottom:0;
}

.playerHandB {
background-color:rgb(124, 124, 123);
border-top-right-radius: 30%;
border-top-left-radius: 10%;
border-bottom-left-radius: 10%;
height:22.5vh;
width:35vw;
display:flex;
position:absolute;
right:0;
bottom:0;
}



/* Card Field for side B */
.fieldB {
background-color:rgb(219, 210, 192);
border-bottom-left-radius: 30%;
border-bottom-right-radius: 30%;
border-bottom: .3em solid rgb(153, 152, 137);
border-style: outset;
border-top:none;
height:26vh;
width:80vw;
margin:auto;
display: flex;
}