
.minionCard {
    background: #776557;
    transition: transform 0.15s;
    position: relative;
    width: 35vh;
    height: 47vh;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    border-radius: 8px;


    /* Remove this margin! only for testing */
    margin-left:30px;
}

/* The Minion's Name Banner */
.MinionName {
    position: absolute;
    width: 100%;
    top: 42%;
    background: #D4B48F;
    text-align: center;
    font-size: 3vh;
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    z-index: 1;
    height:6vh;
  }

/* The Minions Portrait */
  .minionPortrait {
    position: absolute;
    top: 5px;
    left: 12%;
    width: 70%;
    height: 55%;
    border: 4px solid #968E86;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    
  }

  /* The Minion's Play Cost Orb */
  .minionCost {
    position:absolute;
    padding: 12px 16px;
    background: #4681ee;
    border: 4px solid #968E86;
    border-radius:100%;
    bottom: -25px;
    left: -15px;
    font-size:15px;
  }

  /* The Minions Health Orb */
  .minionHealth {
    position:absolute;
    padding: 12px 16px;
    background: #bc3328;
    border: 4px solid #968E86;
    border-radius:100%;
    bottom: -25px;
    right: -15px;
  }

  /* The Minion's Attack 1 */
  .minionAttack1 {
    position: absolute;
    width: 50%;
    left:0%;
    top: 57%;
    color:white;
    text-align:center;
    background:#968E86;
  }

  /* The Minion's Attack 2 */
  .minionAttack2 {
    position: absolute;
    right:0%;
    width:50%;
    top: 57%;
    color:white;
    text-align:center;
    background:#968E86;
    
  }
   /* The Minions Strength Orb */
    .minionStrength {
      position:absolute;
      padding: 12px 16px;
      background: white;
      border: 4px solid #968E86;
      border-radius:100%;
      bottom: -25px;
      right: 50px;
    }

    /* The Minions Weakness Orb */
    .minionWeakness {
      position:absolute;
      padding: 12px 16px;
      background: white;
      border: 4px solid #968E86;
      border-radius:100%;
      bottom: -25px;
      left: 50px;
    } 