.championCard {
    /* background: #776557; */
    transition: transform 0.15s;
    position: relative;
    width: 35vh;
    height: 47vh;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    border-radius: 8px;
    border: 1vh rgb(163, 122, 61);
    border-style: outset;
    background-image: radial-gradient(circle, #a87046, #cab09b, #776557);
    display:inline-flex;
    
  
      /* Remove this margin! only for testing */
    margin-left:30px;
    margin-top:8vh;
  }

  .championCard:hover {
    background: #6e5c4f;
  }
  
  .background {
    background-color:black;
  }
  .container {
    background-color:green;
    height:100vh;
  }

  /* The Champion's Name Banner */
.championName {
    position: absolute;
    width: 100%;
    top: 42%;
    background: #D4B48F;
    text-align: center;
    font-size: 3vh;
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    z-index: 1;
    height:12%;
    border-radius:15%;
    border-style: double;
    border: 2vh rgb(163, 122, 61);
    }

  /* The Champion's Portrait */
  .championPortrait {
    position: absolute;
    top: 5px;
    left: 12%;
    width: 70%;
    height: 55%;
    border: 4px solid #968E86;
    border-radius: 100%;
    background-size: cover;
    background-position: center;  
    }  

  /* The Champion's Play Cost Orb */
  .championCost {
    position:absolute;
    padding: 2.5vh 3vh;
    background: #4681ee;
    border: 4px solid #968E86;
    border-radius:100%;
    bottom: -5vh;
    left: -3vh;
    font-size:15px;
    color:white;
    }
  
    /* The Champion's Health Orb */
    .championHealth {
    position:absolute;
    padding: 2.5vh 3vh;
    background: #bc3328;
    border: 4px solid #968E86;
    border-radius:100%;
    bottom: -5vh;
    right: -3vh;
    color:white;
    }    


   /* The Champion's Strength Orb */
   .championStrength {
    position:absolute;
    border: 2px solid #968E86;
    border-radius:100%;
    bottom: -3vh;
    right: 9vh;
    width: 6vh;
    height: 6vh;
    background-size: cover;
    background-position: center;
    max-width:100%;
    padding-left:-1vh;
    background-color:#968E86;
    }

/* The Champion's Weakness Orb */
  .championWeakness {
    position:absolute;
    border: 2px solid #968E86;
    border-radius:100%;
    bottom: -3vh;
    left: 9vh;
    width: 6vh;
    height: 6vh;
    background-size: cover;
    background-position: center;
    background-color:#968E86;
  }     